.landingPage-signUp-flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fffefb;

}

.landingPage-signUp-centeredContent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7vw 10vw 6vw;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
    font-size: 1vw;
    padding: 20px;

}

.landingPage-signUp-flexContainer .signUp-flexContainerTwo {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-self:center;
    gap: 20px;
    width: 12vw;
    height: auto;
    margin-right: 4vw;

}

.imagsignUp {
    height: 35vw;
    padding: 10px;
    object-fit: contain;

}

.landingPage-signUp-flexContainer .signUp-flexContainerTwo-input {
    border: none;
    border-bottom: 1px solid black;
    /* outline: none; */
    border-radius: 5px;
    padding: 1vw;
    width: 100%;
    font-size: 1vw;
}

.landingPage-signUp-flexContainer .signUp-flexContainerTwo-button {
    padding: 1vw 2vw;
    border: none;
    outline: none;
    border-radius: 8px;
    width: 80%;
    background-color: #d5a13b;
    font-weight: 560;
    font-size: 1vw;
    color: #553947;
}
.landingPage-signUp-flexContainer .flexContainerTwo-inputRadio {
    display: flex;
    flex-direction: column;
    
}