
.clientDoctorDescription-wrapper{
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 10vh 1vh 1vh ;
}

.doctordescription-gridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content:space-between;
    align-self:center;   
    border-radius: 10px;
    /* width: 100vw; */
}
.doctordescription-gridContaineritem-main2{
    margin-top: 10vh;
    right: 0px;
    width: 90vh;
   
}
.doctordescription-gridContaineritem-main1{
    /* display: flex;
    flex-direction: column; */
    margin-right: 10px;
}

.doctorDescription-gridContainer2{
    position: fixed;
    left: 10px;
    display: grid;
    margin-left:10vw ;
    grid-template-rows: 2fr 1fr auto;
    justify-content: center;
    align-items: center;
    border: solid 2px black;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
}
.doctorDescription-name-Proffecsion-flex{
    display: flex; 
    justify-content:space-between;
    align-items:center;
}
.doctorDescription-name-Proffecsion-button{
    padding: 1vw 4vw 1vw;
    font-size: 1.4vw;
    font-weight: 700;
    background-color: #d5a13b;
    border-radius: 6px;
    
}
.doctorDescription-name-Proffecsion-flexcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    width: 25vw;

}
.doctorDescription-name-Proffecsion-flexcontainer svg{
    margin-left: 0.5vw;
    width: 1.5vw;
    float: left;
}
.doctorDescription-clinicLocation{
    /* display: flex; */
    font-size: 1vw;
    width: 24.5vw;
    text-align:start;
    margin-top: 5px;
    
}
.doctorDescription-clinicLocation p{
    margin: 0px;
    padding: 0px;
    margin-left: 5px;

}
.doctorDescription-name-Proffecsion-flexcontainer h2 , .doctorDescription-name-Proffecsion-flexcontainer h3{
    margin: 0px;
    padding: 0px;
    margin-left: 10px;
 
   
}
.doctorDescription-name-Proffecsion-flexcontainer h3{
    font-size: 1.3vw;
    font-weight: 500;
}
.doctorDescription-name-Proffecsion-flexcontainer h2{
    font-size: 2.5vw;
    font-weight: 700;
}

.doctorDescription-gridContainer2-item img{
    /* width: 35vw; */
    
    object-fit: contain;
}

.doctorDescription-gridContainer3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.allPricese-doctor-flexcontainer{
    display: flex;
    justify-content: space-between;
}
.allPricese-doctor-flexitem{
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 1.2vw;
    font-weight: 600;
    color: black;;
    border: 2px solid gray;
    border-radius: 6px;
    padding: 8px;
}
.allPricese-doctor-flexitem svg{
    height: 2vw;
    width: 2vw;
    margin-right: 5px;
    fill: #618f24;
}

.flag-report{
    fill: red;
}

.doctorDescription-flexcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.6vh;
    font-weight: 600;
}
.doctorDescription-flexcontainer img , .doctorDescription-flexcontainer svg{
    height: 8vh;
    
}
.doctorDescription-About-flex{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    text-align: left;
    width: 80vh;
    height: 27vh;
}
.doctorDescription-About-flex p{
    margin: 0px;
    word-wrap: break-word;
    overflow:auto;
}
.doctorDescription-About-flex p::-webkit-scrollbar {
    width: 0; 
}
.doctorDescription-About-flex h2{
    margin: 0px;
    word-wrap: break-word;
}
.doctorDescription-RatingsAndReviews{
    margin: 20px;
}
.doctorDescription-RatingsAndReviews h2{
    margin-bottom: 20px;
}
.doctorDescription-RatingsAndReviews-gridWrapper{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.doctorDescription-RatingsAndReviews-gridContainer{
    display: grid;
    grid-template-columns: 6vh 50vh;
    grid-template-rows:7vh auto;
    border:  solid 3px rgb(187, 183, 183);
    max-width: 60vh;
    gap: 2px;
    max-height: 30vh;
    border-radius: 8px;
    margin-top: 20px;
}

.doctorDescription-RatingsAndReviews-star{
    display: flex;
    align-items: center;
    margin: 0px;
}
.doctorDescription-RatingsAndReviews-star{
    font-size: 3vh;
    font-weight: 700;

}
.doctorDescription-RatingsAndReviews-star svg{
    width: 3vh;
}
.doctorDescription-RatingsAndReviews-title{
    font-size: 4vh;
    font-weight: 700;
    margin: 0px;
    margin-top: 1vh ;
    margin-bottom: 0px;
}
.doctorDescription-RatingsAndReviews-description{
    font-size: 2.5vh;
    word-wrap: break-word;
    overflow-y: auto;
    margin-top: 0px;
}
 .overlay{
    position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 92%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black color */
  z-index: 999;
 }